<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    <typeAliases>
    	<typeAlias type="kr.co.chazm.member.domain.Member" alias="Member"/>
		<!-- 각자 추가 -->
		
    </typeAliases>
    <mappers>
<!-- 		<mapper resource="mappers/find/findBoard-mapper.xml"/>
		<mapper resource="mappers/find/findLike-mapper.xml"/>
		<mapper resource="mappers/find/findReply-mapper.xml"/>
		
		<mapper resource="mappers/lost/lostBoard-mapper.xml"/>
		<mapper resource="mappers/lost/lostLike-mapper.xml"/>
		<mapper resource="mappers/lost/lostReply-mapper.xml"/>
		
		<mapper resource="mappers/member/member-mapper.xml"/>
		
		<mapper resource="mappers/plusadmin/plusABoard-mapper.xml"/>
		
		<mapper resource="mappers/plusmember/plusMBoard-mapper.xml"/>
		<mapper resource="mappers/plusmember/plusMLike-mapper.xml"/>
		<mapper resource="mappers/plusmember/plusMReply-mapper.xml"/> -->
    </mappers>
</configuration>