<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FindLikeMapper">
	<insert id="insertFindLike">
		INSERT INTO FIND_LIKE_TBL VALUES(SEQ_FIND_L_NO.NEXTVAL, #{refFindNo}, #{memberId})
	</insert>
	<delete id="deleteFindLike">
		DELETE FROM FIND_LIKE_TBL WHERE REF_FIND_NO = #{refFindNo} AND MEMBER_ID = #{memberId}
	</delete>
	<delete id="deleteFindBoardLike">
		DELETE FROM FIND_LIKE_TBL WHERE REF_FIND_NO = #{refFindNo}
	</delete>
	<select id="selectLikeYn" resultType="_int">
		SELECT COUNT(*) FROM FIND_LIKE_TBL WHERE REF_FIND_NO = #{refFindNo} AND MEMBER_ID = #{memberId}
	</select>
	<select id="getLikeCont" resultType="_int">
		SELECT COUNT(*) FROM FIND_LIKE_TBL WHERE REF_FIND_NO = #{refFindNo} 
	</select>
</mapper>