<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FindBoardMapper">
	<resultMap type="FindBoard" id="FindBoardResultMap">
		<id 	property="findNo" 		  column="FIND_NO"/>
		<result property="findTitle" 	  column="FIND_TITLE"/>
		<result property="findContent" 	  column="FIND_CONTENT"/>
		<result property="findWriter" 	  column="FIND_WRITER"/>
		<result property="memberName" 	  column="MEMBER_NAME"/>
		<result property="findFilename"   column="FIND_FILENAME"/>
		<result property="findFilerename" column="FIND_FILERENAME"/>
		<result property="findFilepath"   column="FIND_FILEPATH"/>
		<result property="findCategory"   column="FIND_CATEGORY"/>
		<result property="findLocation"   column="FIND_LOCATION"/>
		<result property="findPlace" 	  column="FIND_PLACE"/>
		<result property="findDate" 	  column="FIND_DATE"/>
		<result property="findColor" 	  column="FIND_COLOR"/>
		<result property="findBrand" 	  column="FIND_BRAND"/>
		<result property="getPlace" 	  column="GET_PLACE"/>
		<result property="getDate" 		  column="GET_DATE"/>
		<result property="fCreateDate" 	  column="F_CREATE_DATE"/>
		<result property="fUpdateDate" 	  column="F_UPDATE_DATE"/>
		<result property="fStateYn" 	  column="F_STATE_YN"/>
	</resultMap>
	
	<insert id="insertFindBoard">
		INSERT INTO FIND_BOARD_TBL VALUES(SEQ_FIND_B_NO.NEXTVAL, #{findTitle}, #{findContent}, #{findWriter}, #{memberName}, #{findFilename}, #{findFilerename}, #{findFilepath}
		, #{findCategory}, #{findLocation}, #{findPlace}, #{findDate}, #{findColor}, #{findBrand}, #{getPlace}, NULL, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<update id="updateFindBoard">
		UPDATE FIND_BOARD_TBL SET FIND_TITLE = #{findTitle}, FIND_CONTENT = #{findContent}, FIND_FILENAME = #{findFilename}, FIND_FILERENAME = #{findFilerename}, FIND_FILEPATH = #{findFilepath}
		, FIND_CATEGORY = #{findCategory}, FIND_LOCATION = #{findLocation}, FIND_PLACE = #{findPlace}, FIND_COLOR = #{findColor}, FIND_BRAND = #{findBrand}, F_UPDATE_DATE = DEFAULT
		WHERE FIND_NO = #{findNo}
	</update>
	
	<update id="findComplete">
		UPDATE FIND_BOARD_TBL SET GET_DATE = SYSDATE, F_STATE_YN = 'N' WHERE FIND_NO = #{findNo}
	</update>
	
	<update id="deleteFindBoard">
		UPDATE FIND_BOARD_TBL SET F_STATE_YN = 'N' WHERE FIND_NO = #{findNo}
	</update>
	
	
	<select id="selectFindBoardByNo" resultMap="FindBoardResultMap">
		SELECT * FROM FIND_BOARD_TBL WHERE FIND_NO = #{findNo}
	</select>
	
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM FIND_BOARD_TBL WHERE F_STATE_YN = 'Y'
	</select>
	<select id="selectFindBoardList" resultMap="FindBoardResultMap">
		SELECT * FROM FIND_BOARD_TBL WHERE F_STATE_YN = 'Y' ORDER BY FIND_NO DESC
	</select>
	
	
	
	<select id="searchFindByKeywordCount" resultType="_int">
		SELECT COUNT(*) FROM FIND_BOARD_TBL 
	    <where>
	        <if test="findSearchKeyword != null and !findSearchKeyword.isEmpty()">
	            <choose>
	                <when test="findSearchCondition == 'title'">
	                    AND FIND_TITLE LIKE '%'||#{findSearchKeyword}||'%'
	                </when>
	                <when test="findSearchCondition == 'content'">
	                    AND FIND_CONTENT LIKE '%'||#{findSearchKeyword}||'%'
	                </when>
	                <otherwise>
	                    AND (FIND_TITLE LIKE '%'||#{findSearchKeyword}||'%' OR FIND_CONTENT LIKE '%'||#{findSearchKeyword}||'%')
	                </otherwise>
	            </choose>
	        </if>
	        <if test="findDateStart != null and findDateEnd != null">
	            AND FIND_DATE BETWEEN TO_DATE(#{findDateStart}, 'YYYY-MM-DD') AND TO_DATE(#{findDateEnd}, 'YYYY-MM-DD')
	        </if>
	        <if test="findCategory != null">
	            AND FIND_CATEGORY = #{findCategory}
	        </if>
	        <if test="findLocation != null">
	            AND FIND_LOCATION = #{findLocation}
	        </if>
	        <if test="findPlace != null">
	            AND FIND_PLACE = #{findPlace}
	        </if>
	        <if test="findColor != null">
	            AND FIND_COLOR = #{findColor}
	        </if>
	        <if test="findBrand != null">
	            AND FIND_BRAND = #{findBrand}
	        </if>
	        AND F_STATE_YN = 'Y'
	    </where>
	</select>
	
	<select id="searchFindByKeyword" resultMap="FindBoardResultMap">
	    SELECT * FROM FIND_BOARD_TBL 
	    <where>
	        <if test="findSearchKeyword != null and !findSearchKeyword.isEmpty()">
	            <choose>
	                <when test="findSearchCondition == 'all'">
	                    FIND_TITLE LIKE '%'||#{findSearchKeyword}||'%' OR FIND_CONTENT LIKE '%'||#{findSearchKeyword}||'%'
	                </when>
	                <when test="findSearchCondition == 'title'">
	                    FIND_TITLE LIKE '%'||#{findSearchKeyword}||'%'
	                </when>
	                <when test="findSearchCondition == 'content'">
	                    FIND_CONTENT LIKE '%'||#{findSearchKeyword}||'%'
	                </when>
	            </choose>
	        </if>
	        <if test="findDateStart != null and findDateEnd != null">
	            AND FIND_DATE BETWEEN TO_DATE(#{findDateStart}, 'YYYY-MM-DD') AND TO_DATE(#{findDateEnd}, 'YYYY-MM-DD')
	        </if>
	        <if test="findCategory != null">
	            AND FIND_CATEGORY = #{findCategory}
	        </if>
	        <if test="findLocation != null">
	            AND FIND_LOCATION = #{findLocation}
	        </if>
	        <if test="findPlace != null">
	            AND FIND_PLACE = #{findPlace}
	        </if>
	        <if test="findColor != null">
	            AND FIND_COLOR = #{findColor}
	        </if>
	        <if test="findBrand != null">
	            AND FIND_BRAND = #{findBrand}
	        </if>
	        AND F_STATE_YN = 'Y' ORDER BY FIND_NO DESC
	    </where>
	</select>
	
	
	<insert id="insertPoint">
		INSERT INTO POINT_TBL VALUES(SEQ_POINT_NO.NEXTVAL, #{memberId}, #{point}, #{pointDetails}, DEFAULT)
	</insert>
	<update id="updateMemberPoint">
		UPDATE MEMBER_TBL SET MEMBER_POINT = MEMBER_POINT + #{point} WHERE MEMBER_ID = #{memberId} 
	</update>
	
	<select id="showFindBoardById" resultMap="FindBoardResultMap">
		SELECT * FROM FIND_BOARD_TBL WHERE FIND_WRITER=#{findWriter} AND F_STATE_YN = 'Y' ORDER BY F_CREATE_DATE DESC
	</select>
	
	<select id="countFindBoardById" resultType="_int">
		SELECT COUNT(*) FROM FIND_BOARD_TBL WHERE FIND_WRITER=#{findWriter} AND F_STATE_YN = 'Y'
	</select>	
	
	
	
</mapper>