<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PlusABoardMapper">
	<resultMap type="PlusABoard" id="plusABoardResultMap">
		<id 	property="plusANo" 			column="PLUS_A_NO"/>
		<result property="plusATitle" 		column="PLUS_A_TITLE"/>
		<result property="plusAContent" 	column="PLUS_A_CONTENT"/>
		<result property="plusAWriter" 		column="PLUS_A_WRITER"/>
		<result property="plusADntPlace" 	column="PLUS_A_DNT_PLACE"/>
		<result property="plusACreateDate" 	column="PLUS_A_CREATE_DATE"/>
		<result property="plusAUpdateDate" 	column="PLUS_A_UPDATE_DATE"/>
		<result property="plusAStateYn" 	column="PLUS_A_STATE_YN"/>
	</resultMap>
	<insert id="insertPlusABoard">
		INSERT INTO PLUS_A_BOARD_TBL VALUES(SEQ_PLUS_A_NO.NEXTVAL, #{plusATitle}, #{plusAContent}, '관리자', #{plusADntPlace}, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM PLUS_A_BOARD_TBL WHERE PLUS_A_STATE_YN = 'Y'
	</select>
	<select id="selectPlusABoardList" resultMap="plusABoardResultMap">
		SELECT * FROM PLUS_A_BOARD_TBL WHERE PLUS_A_STATE_YN = 'Y' ORDER BY PLUS_A_NO DESC
	</select>
	<select id="selectOneByNo" resultMap="plusABoardResultMap">
		SELECT * FROM PLUS_A_BOARD_TBL WHERE PLUS_A_NO = #{plusANo}
	</select>
</mapper>