<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PlusMLikeMapper">
	<insert id="insertPlusMLike">
		INSERT INTO PLUS_M_LIKE_TBL VALUES(SEQ_PLUS_M_LIKE_NO.NEXTVAL, #{refPlusMNo}, #{memberId})
	</insert>
	<delete id="deletePlusMLike">
		DELETE FROM PLUS_M_LIKE_TBL WHERE REF_PLUS_M_NO = #{refPlusMNo} AND MEMBER_ID = #{memberId}
	</delete>
	<delete id="deletePlusMLikeByNo">
		DELETE FROM PLUS_M_LIKE_TBL WHERE REF_PLUS_M_NO = #{plusMNo}
	</delete>
	<select id="selectLikeYn" resultType="_int">
		SELECT COUNT(*) FROM PLUS_M_LIKE_TBL WHERE REF_PLUS_M_NO = #{refPlusMNo} AND MEMBER_ID = #{memberId}
	</select>
	<select id="selectLikeCount" resultType="_int">
		SELECT COUNT(*) FROM PLUS_M_LIKE_TBL WHERE REF_PLUS_M_NO = #{plusMNo}
	</select>
</mapper>